/* contenu de l'âge (bulle) */

.bulle_petite {
    background-color: var(--font-contenu);
    color: var(--texte-titre);
    padding: 50px 100px 100px 50px;
    margin: 9% 50% 10% 25%;
    border-radius: 100px 1000px 1000px 1000px;
}

.bulle_grande {
    background-color: var(--font-contenu);
    color: var(--texte-titre);
    padding: 50px 100px 100px 50px;
    margin: 9% 25% 10% 25%;
    border-radius: 100px 1000px 1000px 1000px;
}

h3 {
    padding: 0px 0px 25px 0px;
    font-style: italic;
    font-family: Arial, sans-serif;
    color:var(--texte-titre)
}