* {
    margin: 0;
}


p {
    color: var(--texte-courant);
}

a {
    color: var(--texte-lien);
}

/* variable des couleur */

:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#8f8f8f;
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}


body {
    display: flex ; /* pour activer flex */
    height: 100vh ; /* pour prendre tout la place de la fenetre */
    flex-direction: column; /* pour mettre les element en colum */
    justify-content: space-between; /* repartit l'espace entre les element le premier en haut le dernier en bas */
    font-family: Arial, sans-serif;
    background-color:var(--fond-principal);
}


header {
    text-align: center;

}

.bannier {
    padding: 50px;
    margin: 25px 250px;
    background-color: var(--font-contenu);
    border-radius: 100px;
}

.photo {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.titre {
    color: var(--texte-titre);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--font-contenu);
    border-radius: 5px 50px 5px 50px;
    padding: 10px;
    margin: 1% 10%;
}


.conteneur_information {
    padding: 3%;
    color: var(--texte-lien);
    text-align: center;
}

.conteneur_histoire {
    padding: 3%;
    color: var(--texte-lien);
}

.conteneur_sommaire {
    padding: 3%;
    color: var(--texte-lien);
}

.conteneur_competance {
    padding: 3%;
    color: var(--texte-lien);
}

.conteneur_projet {
    padding: 3%;
    color: var(--texte-lien);
}

section {
    text-align: center;
    background-color: var(--font-contenu);
    color: var(--texte-titre);
    padding: 100px;
    margin: 125px 25%;
    border-radius: 1000px;
}

a:hover {
    color: var(--objet-survol);
}

a:active {
    color: var(--objet-clic);
}


h2:hover {
    color: var(--objet-survol);
}

h2:active {
    color: var(--objet-clic);
}


h3 {
    margin: 25px;
    font-style: italic;
    font-family: Arial, sans-serif;
    color:var(--texte-titre)
}


/* permet de mettre tout les element sur toute la page */

img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 100px;
}


/* pour espacer de 200 pixel les logo du font du site */

.lien-icone {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    background-color: var(--font-contenu);
    padding: 25px;
    margin: 100px 200px;
    border-radius: 50px 50px 5px 5px;
}