* {
    margin: 0;
}

p {
    margin: 25px 0px 25px 0px;
}




/* variable des couleur */

:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#8f8f8f;
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}




body {
    display: flex ; /* pour activer flex */
    height: 100vh ; /* pour prendre tout la place de la fenetre */
    flex-direction: column; /* pour mettre les element en colum */
    justify-content: space-between; /* repartit l'espace entre les element le premier en haut le dernier en bas */
    font-family: Arial, sans-serif;
    background-color:var(--fond-principal);
}




/* couleur texte divers */

p {
    color: var(--texte-courant);
}

a {
    color: var(--texte-lien);
}

a:active {
    color: var(--objet-clic);
}

a:hover {
    color: var(--objet-survol);

}




/* bannière des titres de la page */

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--font-contenu);
    border-radius: 0px 0px 100px 100px;
    padding: 10px;
    margin: 0% 10% 5% 10%;
}


.conteneur_information {
    padding: 3%;
    color: var(--texte-titre);
    background-color: var(--font-contenu);
    border: 2px solid transparent;
    border-radius: 100px;
}

.conteneur_information:hover {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_information.active_information {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_information:hover {
    color: var(--objet-survol);
    background-color: var(--font-contours);
}

.conteneur_information:active {
    color: var(--objet-clic);
    background-color: var(--font-contours);
}

.active_information {
    color: var(--objet-permanent);
    background-color: var(--font-contours);
}




.conteneur_histoire {
    padding: 3%;
    color: var(--texte-titre);
    background-color: var(--font-contenu);
    border: 2px solid transparent;
    border-radius: 100px;
}

.conteneur_histoire:hover {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_histoire.active_histoire {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_histoire:hover {
    color: var(--objet-survol);
    background-color: var(--font-contours);
}

.conteneur_histoire:active {
    color: var(--objet-clic);
    background-color: var(--font-contours);
}

.active_histoire {
    color: var(--objet-permanent);
    background-color: var(--font-contours);
}




.conteneur_sommaire {
    padding: 3%;
    color: var(--texte-titre);
    background-color: var(--font-contenu);
    border: 2px solid transparent;
    border-radius: 100px;
}

.conteneur_sommaire:hover {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_sommaire.active_sommaire {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_sommaire:hover {
    color: var(--objet-survol);
    background-color: var(--font-contours);
}

.conteneur_sommaire:active {
    color: var(--objet-clic);
    background-color: var(--font-contours);
}

.active_sommaire {
    color: var(--objet-permanent);
    background-color: var(--font-contours);
}



.conteneur_competance {
    padding: 3%;
    color: var(--texte-titre);
    background-color: var(--font-contenu);
    border: 2px solid transparent;
    border-radius: 100px;
}

.conteneur_competance:hover {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_competance.active_competance {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_competance:hover {
    color: var(--objet-survol);
    background-color: var(--font-contours);
}

.conteneur_competance:active {
    color: var(--objet-clic);
    background-color: var(--font-contours);
}

.active_competance {
    color: var(--objet-permanent);
    background-color: var(--font-contours);
}




.conteneur_projet {
    padding: 3%;
    color: var(--texte-titre);
    background-color: var(--font-contenu);
    border: 2px solid transparent;
    border-radius: 100px;
}

.conteneur_projet:hover {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_projet.active_projet {
    border: 2px solid gray;
    background-color: var(--font-contours);
}

.conteneur_projet:hover {
    color: var(--objet-survol);
    background-color: var(--font-contours);
}

.conteneur_projet:active {
    color: var(--objet-clic);
    background-color: var(--font-contours);
}

.active_projet {
    color: var(--objet-permanent);
    background-color: var(--font-contours);
}





/* logo de fin de page */

img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 100px;
}


.lien-icone {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    background-color: var(--font-contenu);
    padding: 25px 5px 10px 5px;
    margin: 0% 10% 10% 10%;
    border-radius: 100px 100px 0px 0px;
}