* {
    margin: 0;
}


a {
  color: var(--couleur-texte-secondaire);
  text-decoration: none;
}

p {
    color: var(--couleur-texte-secondaire);
    text-decoration: none;
}

ul {
    color: var(--couleur-texte-secondaire);
    text-decoration: none;
}


ol {
    color: var(--couleur-texte-secondaire);
    text-decoration: none;
}


/* variable des couleur */

:root {
    --couleur-fond:#0F0F0F;
    --couleur-banniere:#1A1A1A;
    --couleur-Bouton-actif:#6E40C9;
    --couleur-Bouton-hover:#9B6DED;
    --couleur-texte-principal:#F2F2F2;
    --couleur-texte-secondaire:#AFAFAF; 
    --couleur-ligne:#7D5FFF;
}


body {
    display: flex ; /* pour activer flex */
    height: 100vh ; /* pour prendre tout la place de la fenetre */
    flex-direction: column; /* pour mettre les element en colum */
    justify-content: space-between; /* repartit l'espace entre les element le premier en haut le dernier en bas */
    font-family: Arial, sans-serif;
    background-color:var(--couleur-fond);
}


header {
    text-align: center;

}

.bannier {
    background-color: var(--couleur-banniere);
    border-radius: 10%;
    padding: 50px;
}


h1 {
    margin: 25px 50px;
    text-align: center;
    font-style: italic;
    font-weight: 900; 
    font-family: Arial, sans-serif; /* permet deviter les souci avec la polisse d'ecriture */
    color:var(--couleur-texte-principal)
}


.conteneur {
    display: flex;
    flex-direction: row;
    background-color: var(--couleur-banniere);
    color: var(--couleur-texte-principal);
    border-radius:20%;
    text-decoration: none;
    padding: 10px;
    margin: 1px 200px;
    justify-content: center;
}


.conteneur_acceuil {
    padding: 10px 150px;
}

.conteneur_moi {
    padding: 10px 150px;
}

.conteneur_competance {
    padding: 10px 150px;
}

section {
    text-align: center;
    margin: 100px;
    background-color: var(--couleur-banniere);
    color: var(--couleur-texte-principal);
    padding: 40px;
    margin: 125px 500px;
    border-radius: 40%;
}

h2 {
    margin: 25px;
    font-style: italic;
    font-family: Arial, sans-serif;
    color:var(--couleur-texte-principal)
}


/* permet de mettre tout les element sur toute la page */

img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 100%;
}


/* pour espacer de 200 pixel les logo du fon du site */

.lien-icone {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 100px;
    background-color: var(--couleur-banniere);
    color: var(--couleur-texte-principal);
    padding: 25px;
    margin: 100px 200px;
    border-radius: 10%;
}